
body{
	background color:white;
}
#nav {
  width: 1200px;
  padding: 25px;
  margin: 25px;
  height: 50px;
}
#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 1200px;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 90px;
  text-decoration: none;
  font-family: Courier New; 
  font-size: 30px;
}

#nav li a:hover:not(.active) {
  text-decoration: underline overline;
  text-decoration-color: yellow;
  
}
.boxed {
  background-image:url("https://wallpapercave.com/wp/wp2234801.jpg");
  width: 1200px;
  margin:0px;
  padding:0px;
  height: 41px;
  left: 0;
  width: 100%;
}
 body{
    margin:0px;
    padding:0px;
 }