
      body {
        background: tan;
      }

      h1 {
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: white;
        text-align: center;
        margin-top: 100px;
      }

      p {
        font-family: Arial, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
        margin-top: 50px;
      }
