h1{
	color:blue;

}

body{
	background-image:url("https://wallpapercave.com/wp/wp2234801.jpg");
}
div {
  background-color: white;
  width: 400px;
  border: 25px white;
  padding: 25px;
  margin: 25px;
}