
    .video-container {
      position: relative;
      max-width: 1000px;
      max-height: 1000px ;
      margin: 0 auto;
      border: 2px solid #ff0000;
    }

    video {
      width: 100%;
    }

    .download-btn {
      display: block;
      margin-top: 10px;
      text-align: center;
    }
