.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}
.left-links,
.right-links {
  margin-top: 20px;
}
.navbar {
  height: 100%;
  width:100%;
  border-collapse: collapse;
  z-index: 10;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10; 
  height: 100%;
}

.nav-item { 
  margin: 0 10px;
}

.nav-logo {
  position:absolute;
  flex-grow: 1;
  text-align: center;
}

.logo-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  border-top: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.logo {
  
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
